<div class="modal-wrapper">

    <div class="header">
        <div class="icon">
            <img [src]="data.icon" [alt]="data.name">
        </div>
        <div class="title">
            <h1>{{data.name}}</h1>
            <span class="subtitle">DARC Software LLC</span>
        </div>
        <div class="links">
            <div class="close">
                <button class="close-button" (click)="close()"><mat-icon>close</mat-icon></button>
            </div>
            <div class="download">
                <img src="assets/images/icons/github.png" alt="Github" (pointerup)="goToUrl(data.github)">
                <button class="download-link" (pointerup)="goToApp(data)">{{ buttonLabel }}</button>
            </div>
        </div>
    </div>
    <div class="description">
        <p>
            {{ data.description }}
        </p>
    </div>
    <mat-dialog-content>
        <div class="card-wrapper">
            <mat-card *ngFor="let screenshot of data.screenshots">
                <mat-card-content>
                    <img [src]="screenshot" alt="">
                </mat-card-content>
            </mat-card>
        </div>
    </mat-dialog-content>
</div>
