<div class="hero-container">
  <div class="hero-orbit-container">
    <div class="hero-orbit">
      <h2>Devin Cooper</h2>
      <p>Software Engineer<p>
    </div>
    <img src="assets/images/angular.png" alt="Angular Logo" class="angular">
    <img src="assets/images/spring.png" alt="Spring Logo" class="spring">
    <img src="assets/images/docker.png" alt="Docker Logo" class="docker">
    <img src="assets/images/mysql.png" alt="MySQL Logo" class="mysql">
    <img src="assets/images/linux.png" alt="Linux Logo" class="linux">
    <img src="assets/images/gcp.png" alt="Google Cloud Logo" class="gcp">
  </div>
</div>