<div class="modal-wrapper">
    <div class="links">
        <div class="close">
            <button class="close-button" (click)="close()"><mat-icon>close</mat-icon></button>
        </div>
    </div>
    <div class="previous-display">
        {{ previousDisplay }}
    </div>
    <div class="display">
        {{ display }}
    </div>
    <div class="keypad">
        <mat-grid-list cols="4" rowHeight="1:1" gutterSize="8px">

            <!-- brute force version, I'll refactor into @for using key of keys later -->
            <mat-grid-tile class="keys gray" (pointerup)="clear()">AC</mat-grid-tile>
            <mat-grid-tile class="keys gray"></mat-grid-tile>
            <mat-grid-tile class="keys gray"></mat-grid-tile>
            <mat-grid-tile class="keys arithmetic" (pointerup)="operand('÷')">÷</mat-grid-tile>

            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('7')">7</mat-grid-tile>
            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('8')">8</mat-grid-tile>
            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('9')">9</mat-grid-tile>
            <mat-grid-tile class="keys arithmetic" (pointerup)="operand('x')">x</mat-grid-tile>

            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('4')">4</mat-grid-tile>
            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('5')">5</mat-grid-tile>
            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('6')">6</mat-grid-tile>
            <mat-grid-tile class="keys arithmetic" (pointerup)="operand('-')">–</mat-grid-tile>

            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('1')">1</mat-grid-tile>
            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('2')">2</mat-grid-tile>
            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('3')">3</mat-grid-tile>
            <mat-grid-tile class="keys arithmetic" (pointerup)="operand('+')">+</mat-grid-tile>

            <mat-grid-tile class="keys darkgray"></mat-grid-tile>
            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('0')">0</mat-grid-tile>
            <mat-grid-tile class="keys darkgray" (pointerup)="enterNumber('.')">.</mat-grid-tile>
            <mat-grid-tile class="keys arithmetic" (pointerup)="calculate()">=</mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
