<div class="modal-wrapper">
    <span class="construction">(Under Construction)</span>
    <div class="display">
        {{ display }}
    </div>
    <div class="keypad">
        <mat-grid-list cols="4" rowHeight="1:1" gutterSize="10px">

            <mat-grid-tile class="keys gray">AC</mat-grid-tile>
            <mat-grid-tile class="keys gray">+/-</mat-grid-tile>
            <mat-grid-tile class="keys gray">%</mat-grid-tile>
            <mat-grid-tile class="keys arithmetic">÷</mat-grid-tile>

            <mat-grid-tile class="keys darkgray">7</mat-grid-tile>
            <mat-grid-tile class="keys darkgray">8</mat-grid-tile>
            <mat-grid-tile class="keys darkgray">9</mat-grid-tile>
            <mat-grid-tile class="keys arithmetic">x</mat-grid-tile>

            <mat-grid-tile class="keys darkgray">4</mat-grid-tile>
            <mat-grid-tile class="keys darkgray">5</mat-grid-tile>
            <mat-grid-tile class="keys darkgray">6</mat-grid-tile>
            <mat-grid-tile class="keys arithmetic">–</mat-grid-tile>

            <mat-grid-tile class="keys darkgray">1</mat-grid-tile>
            <mat-grid-tile class="keys darkgray">2</mat-grid-tile>
            <mat-grid-tile class="keys darkgray">3</mat-grid-tile>
            <mat-grid-tile class="keys arithmetic">+</mat-grid-tile>

            <mat-grid-tile class="keys darkgray"></mat-grid-tile>
            <mat-grid-tile class="keys darkgray">0</mat-grid-tile>
            <mat-grid-tile class="keys darkgray">.</mat-grid-tile>
            <mat-grid-tile class="keys arithmetic">=</mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
