<mat-toolbar>
  <!-- <span>
    <img src="assets/images/gradientred.png" alt="DevinCoopers.Space" class="logo">
  </span> 
  <span class="spacer"></span> 
  <button matButton routerLink="/projects">
    <img src="assets/images/projects.png" alt="projects">
  </button>
  <button matButton routerLink="/experience">
    <img src="assets/images/experience.png" alt="experience">
  </button>
  <button matButton routerLink="/education">
    <img src="assets/images/education.png" alt="education">
  </button>
  <button matButton routerLink="/about">
    <img src="assets/images/about.png" alt="about">
  </button> -->
</mat-toolbar>