html, body {
    height: 100%;
    margin: 0;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
}

.page.hero {
    position: relative;
    height: 100dvh;
    box-sizing: border-box;
    display: flex;
    align-items:flex-end;
    justify-content: center;
    font-size: 1.5rem;
    scroll-snap-align: start;
}

 .page.projects {
    position: relative;
    height: 100dvh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    font-size: 1.5rem;
    scroll-snap-align: start;
    color: black;
}

.icon-wrapper {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    animation: bounce 1.5s infinite;
    cursor: pointer;
    z-index: 100;
}

.scroll-indicator {
    width: 40px !important;
    height: 30px !important;
    display: flex;
    font-size: 2.5rem;
}

@keyframes bounce {
    0%, 100% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
}